body {
    background-color: whitesmoke;
}

.title {
    background-color: lightpink;
    color: black;
}

img {
    width: auto;
    height: 500px;
}

.description-para,
li {
    background-color: azure;
}